/* 
                RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
RESPONSIVE 
----------
xs: <=552px
sm: <=640px
md: <=878px
lg: >878px 
*/

/* 
            COMMON
*/
body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.flex{
    display: flex;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.space-bet{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: gray;
}
.p-10{
    padding: .625rem;
}
.m-10{
    margin: .625rem;
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
i{
    color: white;
}
.large-device{
    display: none;
}
/* 
         MAIN  
*/

/*
SIDE-BAR 
*/
main{
    height: calc(100vh - 90px);
    overflow: hidden;
}
#container-left{
    width: 40px;
    background-color: black;
}
.menu ul li{
    max-width: 40px;
    align-items: center;
   
}
.user-download{
    margin-top: auto;
}
.user-download div img{
    align-items: center;
}
.list{
    height: 240px;
    overflow: auto;
}
.plus i{
    background-color: gray;
    padding: 10px;
}
/*
CONTAINER RIGHT 
*/
#container-right{
    width:calc(100% - 30px); 
    background-color: #141922; 
    overflow: scroll; 
}
.headbar{
    background-color: #242424;
    opacity: 90%;
}
.btn{
    justify-content: flex-end;
}
.btn a{
    border: 2px solid white;
    border-radius: 20px;
}
/* 
CONTAINER ALBUM
*/
.nav-top ul{
    justify-content: center;
    flex-wrap: wrap;
}
.nav-album{
    margin: 0 5px;
}
.album{
    width: calc(100%/2 - 10px);
    margin: 5px;
    text-align: center;
    color: white;
}
/*
            FOOTER  
*/
footer{
    background-color: #282828;
    height: 90px;
}
.footer-container{
    align-items: center;
    max-height: 90px;
}
.foot-left{
    align-items: center;
}
.icon-mid{
    align-items: center;
    font-size: 12px;
}
.foot-right{
    align-items: center;
}
.foot-album{
    width: 30px;
    height: 30px;
}
#play-icon{
    font-size:17px;
}
.time-bar{
    align-items: center;
    color: white;
    font-size: 10px;
}
.bar{
    width: 130px;
    height: 2px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 20px;
}
.bar-vol{
    width: 85px;
    height: 2px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 20px;
}
.foot-right ul li{
font-size: 12px;
padding: .3125rem;
}

/* 
            RESPONSIVE
*/
@media screen and (min-width:640px) and (max-width:878px) {
    .large-device{
        display: block;
    }
    .small-device{
        display: none;
    }
    #container-left{
        width: 230px;
    }
    .user-download img{
        max-width: 20px;
    }
    .user {
     margin: 0 10px;
     border-top: 1px gray solid;
    }
    .album{
        width: calc(100%/4 - 10px);
        margin: 5px;
        text-align: center;
        color: white;
    }
    .footer-container{
        justify-content: space-between;
    }
}
@media screen and (min-width:879px) {
    .large-device{
        display: block;
    }
    .small-device{
        display: none;
    }
    #container-left{
        width: 230px;
    }
    .user-download img{
        max-width: 20px;
    }
    .user {
     margin: 0 10px;
     border-top: 1px gray solid;
    }
    .album{
        width: calc(100%/6 - 10px);
        margin: 5px;
        text-align: center;
        color: white;
    }
    .footer-container{
        justify-content: space-between;
    }
}
/* 

*/
