/* 
                RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
RESPONSIVE 
----------
xs: <=552px
sm: <=640px
md: <=878px
lg: >878px 
*/

/* 
            COMMON
*/
body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.flex{
    display: flex;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.space-bet{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: gray;
}
.p-10{
    padding: .625rem;
}
.m-10{
    margin: .625rem;
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
 i{
    color: white;
}
.large-device{
    display: none;
}
/* 
         MAIN  
*/
/*
SIDE-BAR 
*/
main{
    height: calc(100vh - 90px);
    overflow: hidden;
}
#container-left{
    width: 40px;
    background-color: black;
}
.menu ul li{
    max-width: 40px;
    align-items: center;
   
}
.user-download{
    margin-top: auto;
}
.list{
    height: 240px;
    overflow: auto;
}
/*
CONTAINER RIGHT 
*/
#container-right{
    width:calc(100% - 30px); 
    background-color: #141922; 
    overflow: scroll; 
}
.headbar{
    background-color: #242424;
    opacity: 90%;
}
.btn{
    justify-content: flex-end;
}
.btn a{
    border: 2px solid white;
    border-radius: 20px;
}
/* 
CONTAINER ALBUM
*/
.nav-top ul{
    justify-content: center;
    flex-wrap: wrap;
}
.nav-album{
    margin: 0 5px;
}
.album{
    width: calc(100%/2 - 10px);
    margin: 5px;
    text-align: center;
    color: white;
}







/*
            FOOTER  
*/
footer{
    background-color: aqua;
    height: 90px;
    align-items: center;
}
.foot-album{
    width: 80px;
    height: 80px;
}

/* 
RESPONSIVE
*/
@media screen and (min-width:640px) {
    .large-device{
        display: block;
    }
    .small-device{
        display: none;
    }
    #container-left{
        width: 230px;
    }
    .user-download img{
        max-width: 20px;
    }
    .user {
     margin: 0 10px;
     border-top: 1px gray solid;
    }
}