/* 
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
RESPONSIVE 
----------
xs: <=552px
sm: <=640px
md: <=878px
lg: >878px 
*/

/* 
COMMON
*/
body{
    font-family: 'Montserrat', sans-serif;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.space-bet{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: gray;
}
.p-10{
    padding: .625rem;
}
.m-10{
    margin: .625rem;
}
img{
    width: 100%;
    max-width: 50px;
    display: block;
}
ul{
    list-style: none;
}
 i{
    color: white;
}
.large-device{
    display: none;
}
/* 
MENU-LEFT
*/
.menu-left{
    background-color: #080b12;
    height: 100vh;
}
.menu-left{
    justify-content: space-between;
    align-items: center;
}
/* 
MENU-RIGHT
*/
.menu-right-top{
    background-color: #080b12;
    opacity: 95%;
    justify-content:flex-end;
    align-items: center;
    width: 100vw;
    height: 80px;
}
.menu-right-top a .btn{
    border: 1px solid white;
    border-radius: 20px;
    color: white;

}
/* 
FOOTER
*/
footer{
    background-color: #242424;
    height: 80px;
}


/* 
RESPONSIVE
*/
@media screen and (min-width:878px) {
    .large-device{
        display: block;
    }
}